*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    
}
html{
    font-size: 62.5%;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto';
    align-items: center;
    background-color: #212121;
   
}
.main-wrapper{
    width: 100%;
 
}
.loading-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid red;
    border-top: 4px solid transparent;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0); /* Semi-transparent white background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Add your loader styling here */
}
.navbar{
    width: 100%;
    padding: 1rem 2rem;
    height: 6rem;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #212121;
  z-index: 1;
  /* background-color: red; */
}
.navbar div{
    height: 100;
}
.nav-left{
   /* background-color: red; */
   display: flex;
   width: 14%;
   justify-content: space-between;
   height: 100%;
}
.nav-left img{
    height: 80%;
}
.nav-mid{
    /* background-color: red; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    height: 100%;
}
.nav-mid div {
  
    height: 100%;
    

}
.input-section{
    width: 80%;
   

    
    display: flex;
    justify-content: center;
    
}
.input-section input{
    width: 90%;
    background-color: #121212;
    border-radius: 2px 0px 0px 2px;
    border: none;
    height: 100%;
    color: white;
}
.input-section input::placeholder{
    padding-left: 1rem;
    color:  #AAAAAA;
   font-family: Roboto;
   font-weight: 400;
    line-height: normal;
    font-size: 1.6rem;
    
}
.input-section img{
    width: fit-content;
    background-color: red;
    padding: 1rem 2rem;
    background-color: #303030;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
 
}
.mic{
    background-color: black;
    border-radius: 50%;
    padding: 1rem 1rem;
    width: 6%;
    display:flex;
    align-self: center;
    justify-content: center;
}
.mic img{
    width: 100%;
   
}
.nav-end{
    /* background-color: red; */
    width: 15%;
    height: 80%;
    display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-end img{
    width: 3rem;
    height:3rem;
}
.nav-end img:last-child{
    border-radius: 50%;
}


/*******************************************************************/

.main-display{
 
    height:100vh;
    margin: auto;
    display: flex;
    width: 100%;
    overflow: hidden;


}
.left-sidebar{
    margin-top: 5rem;
    width: 20%;
    background-color:#212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    color:#FFFFFF;
    overflow-y: auto;


}
.left-sidebar div{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #303030;
}
.left-sidebar div a ,.Subs  a {
    text-decoration: none;
    display: flex;
    gap:1rem;
    font-size: 1.4rem;
    padding: 0.8rem 0.8rem 0.8rem 2.4rem;
    color: #FFFFFF;
}
.left-sidebar div a:hover{
    background: var(--border-color, #303030);

}
.Home{
    padding-top: 0.5rem;
}
.Subs{
    color:var(--Gray-Color, #AAA);
     display: flex;
    flex-direction: column;
}
.Subs h3{
 color:  #777777;
 padding: 1rem 0rem;
 padding: 0.5rem 1rem;
 font-size: 1.4rem;
}




/*******************************************************************/
.right{
   width: 80%;
   height: 100%;
 margin-top: 7rem;
 background-color: black;
 
}
::-webkit-scrollbar{
    overflow: scroll;
}
.filter{
  
    display: flex;
    gap:1rem;
    padding: 1.2rem 1.2rem 1.2rem 0.8rem;
    font-size: 1.4rem;
    border-top: 1px solid #303030;
    overflow-y: auto;
    background-color:#212121;
}
.filter div{
    padding: 0.8rem 1.2rem;
    background-color: #303030;
    border-radius: 3.2rem;
    color:#FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.301);

}
.videos{
    background-color:#000000;
    width: 100%;
   padding: 2rem 1rem;
   display: flex;
    gap:3rem;
   flex-wrap: wrap;
   height: 100vh;
   overflow-y: auto;
   

}
.video-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: max-content;
    justify-content: space-between;
    position: relative;
  /* background-color: red; */
   
    
}
.video {
    width: 100%;
    height: 30%;
    /* background-color: yellow; */
}
.video video{
    width: 100%;
}

.video-info{
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: space-around;
 height: max-content;
padding-top: 1rem;
flex-wrap: no-wrap;
cursor: pointer;
/* background-color: red; */
}

.channel-logo img{
    width: 4rem;
    height: 5rem;
    border-radius: 80%;
    background-color: red;
    
}
.video-title{
    width: 80%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    /* background-color: yellow; */
}
#title{
    font-size: 1.2rem;
    font-weight: 700;
    color: #FFFFFF;
}
.views-time,#channel-name{
    display: flex;
    font-size: 1.2rem;
    color: #AAAAAA;
    font-weight: 400;
}
.duration{
    position: absolute;
    top: 60%;
    left: 85%;
    background-color: black;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 0.4rem 0.4rem;
}